<div class="text-center container">


    <h1>Receptionist</h1>

    {{!-- Search bar --}}
    <div class="searchbar">
        <form action="">
            <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                <div class="input-group">
                    <input type="search" placeholder="Search for customer by ID or Mobile No." aria-describedby="button-addon1" class="form-control border-0 bg-light">
                    <div class="input-group-append">
                        <button id="button-addon1" type="submit" class="btn btn-link text-primary">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
    </div>

    {{!-- Modals for adding customer and putting customer on waitlist --}}
    <div class="cust-and-waitlist-buttons">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCustomerModal">
            Add New Customer
        </button>

        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#addToWaitlist">
            Add to Waitlist
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="newCustomer" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newCustomer">New Customer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                        <form action="#" method="get">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="First Name" name="fname">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="Last Name" name="lname">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <input type="number" class="form-control" placeholder="Mobile No." name="mobNo">
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="newCustSubmitBtn">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addToWaitlist" tabindex="-1" role="dialog" aria-labelledby="waitlistCustomer" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="waitlistCustomer">Waitlist Customer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                        <form>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <input type="number" class="form-control" placeholder="Mobile No. or Customer ID" name="waitlist-num">
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="waitlistSubmit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Tables Map --}}
    <div class="mt-5 p-2 container border border-secondary">
        <h3 class="border-bottom">Tables Map</h3>
        <div class="row m-3">
            <div class="col-3">
                <button type="button" class="btn btn-success">
                    Table
                </button>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-danger">
                     Table
                </button>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-success">
                     Table
                </button>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-success">
                     Table
                </button>
            </div>
        </div>

        <div class="row m-3">
            <div class="col-3">
                <button type="button" class="btn btn-success">
                     Table
                </button>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-danger">
                     Table
                </button>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-success">
                     Table
                </button>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-danger">
                     Table
                </button>
            </div>
        </div>

        <div class="row m-3">
            <div class="col-3">
                <button type="button" class="btn btn-success">
                     Table
                </button>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-success">
                     Table
                </button>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-success">
                     Table
                </button>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-danger">
                     Table
                </button>
            </div>
        </div>
    </div>

    {{!-- Waitlist Area --}}
    
    <div class="list-group mt-5">
        <a class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Haseeb Khan</h5>
                <small>10 mins ago</small>
            </div>
        </a>
        <a class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Ali Shazal</h5>
                <small>5 mins ago</small>
            </div>
        </a>
        <a class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Aiza Usman</h5>
                <small>3 mins ago</small>
            </div>
        </a>
    </div>

</div>

<script>
    document.getElementById("newCustSubmitBtn").addEventListener("click", () => {
        const fname = document.getElementsByName("fname")[0].value;
        const lname = document.getElementsByName("lname")[0].value;
        const mobNo = document.getElementsByName("mobNo")[0].value;
        console.log(fname, lname, mobNo);
    });

    document.getElementById("waitlistSubmit").addEventListener("click", () => {
            const num = document.getElementsByName("waitlist-num")[0].value;
            console.log(num);
        });
</script>