
<div class="form-group text-center container">
    <br>
    <h1>Request</h1>
    <br><br><br>
    <label for="exampleFormControlTextarea1">What other service do you require?</label>
    <hr>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    <br>
    <button id='submit-request' type="button" class="btn btn-info" onclick="submit(event)">Submit Request</button>
</div>

<script>
    function submit(event){
        location.reload()
    }
</script>